* {
    font-family: sans-serif;
}
body{
  background: rgb(221, 168, 99);
}
a:link {
    text-decoration: none;
}

select {
    font-size: 28px;
}

div div {
    color: black;
    background-color: white;
    font-size: 20px;
    float: inline-end;
    border: solid;
    margin: 20px;
    padding: 10px;
    width: 300px;
}

h1{
    color: red;
}
select{
    color:teal;
}
span{
    color: blue;
}
